<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        colors="true"
        bootstrap="phpunit-bootstrap.php"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="SalaryDates">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>

